.git
.github
.vscode
.do
.devcontainer.json
docs
locale/**/*.po
**/*.pyc
**/__pycache__
node_modules
.npm
.coverage
htmlcov
*.md
!README.md
.env
.env.*
data/
media/
terraform
screenshot.png
screenshot_mobile.png
lefthook.yml
mkdocs.yml
Pipfile
package-lock.json
package.json
gulpfile.js
gulpfile.config.js
.nvmrc
.prettierrc
.prettierignore
.stylelintrc
.tool-versions
.coveragerc
.buildpacks
nixpacks.toml
